<h1>Books#index</h1>


<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.name, book %>
    </li>
    <li>
      <% if book.photo.attached? %>
        <%= image_tag book.photo %>
      <% end %>
    </li>
    <li>
      <%= book.describtion %>
    </li>
    <li>
      <%= book.created_at %>
    </li>
  <% end %>
</ul>
<% if current_user %>
  <% if current_user.admin %>
    <%= link_to "New Book", new_book_path, method: :get %>
  <% end %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Register", new_user_registration_path, method: :get %>
  <%= link_to "Login", new_user_session_path, method: :get %>
<% end %>




